# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*

# themes
!wp-content/themes
wp-content/themes/*
wp-content/themes/twenty*/
!wp-content/themes/twentytwentytwo
!wp-content/themes/tt2-child

#  plugins
!wp-content/mu-plugins
wp-content/mu-plugins/*
!wp-content/mu-plugins/network-utilities.php
wp-content/plugins/hello.php

!wp-content/plugins
wp-content/plugins/*
### <add plugins here>


# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
